@import "../../../scss/colors.scss";
// Modificaciones específicas para el formulario:
.QR-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto; // Centrado horizontal mejorado
  padding: 20px;
  border: 1px solid $border-grey;
  border-radius: 5px;
  box-shadow: 4px 6px 8px var(--bg-shadow) !important;

  // Media query específica para móviles
  @media (max-width: 480px) {
    margin: 20px auto; // Fuerza el centrado Vertical y horizontal
    width: calc(100% - 40px); // Asegura espacio a los lados
    box-sizing: border-box;
  }

  h2 {
    font-size: 24px !important;
    text-align: center;
    margin-bottom: 20px;
    color: #9e9393;
  }

  .QR-Field {
    margin: auto;
    max-width: 55%;  
    padding-top: 10px;
    padding-bottom: 5px;
    border: 1px solid $border-grey;
    box-shadow: 4px 4px 5px var(--bg-shadow) !important;
  }

  .QR-Button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input {
    padding: 15px !important;
    background-color: var(--primary-bg) !important;
    width: 100%; // Asegura que no se salga del contenedor
    box-sizing: border-box; // Importantante para móvil
    /* color: #9e9393 */
    border: 1px solid $border-grey;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .button {
    background-color: var(--primary-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    transition: all 0.3s ease;
    box-shadow: 4px 4px 5px var(--bg-shadow) !important;

    &:hover {
      filter: brightness(90%);
      background-color: var(--secondary-bg);
    }
  }
}
