@import "../../scss/colors.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--card-bg);
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: transparent !important;
}

.Logo{
  padding: 0px;
  width: 150px;
  height: 150px; 
}

.login-form {
  background-color: var(--card-bg) !important;
}

.container-form {
  overflow: scroll !important;
  max-width: 800px;
  width: 800px;

  // Media query específica para móviles
  @media (max-width: 480px) {
    margin-top: 5%; // Fuerza el centrado Vertical y horizontal
  }
}

.Auth-Span {
  color: #00bfff; // Color celeste
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;

  &:hover {
    cursor: pointer;
  }
}
