@import '../../scss/colors.scss';

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--card-bg); 
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-form{ 
    overflow: scroll !important;
    max-width: 800px;
    width: 800px;
}